{% extends 'base.html' %}

{% block title %}
Вокруг Света - Главная
{% endblock title %}

{% block content %}
{% comment %} <div class="header">
<h1 class="logo">Вокруг света</h1>
<ul class="menu">
<li><a href="#">Города</a></li>
<li><a href="#">Места</a></li>
<li><a href="#">Выйти</a></li>
</ul>
</div> {% endcomment %}


{% if cities %}
<h1>Выберите город: </h1>
<ul>
{% for city in cities %}
<li><a href="{% url 'city_view' city.name %}">{{ city.name }}</a></li>
{% endfor %}
</ul>
{% endif %}
{% endblock content %}