body {
    margin: 0;
    padding: 0;
    background-color: #ccf6c8;
}

header {
    height: 20vh;
    background-color: #ccf6c8;
}

.container {
    width: 80%;
    background-color: #fafcc2;
    height: 90vh;
    margin: 0 auto;
}

.logo {
    width: 130px;
    height: 130px;
    margin-top: 15px;
    margin-right: 15px;
}

.left_block {
    width:230px ;
    border: 1px solid red;
    display: inline-block;
}

.centrik {
    margin: 0 auto;
    width: 130px;
}

.x1 {
    width: 230px;
    margin-top: 50px;
    display: inline-block;
}

.x2 {
    width: 230px;
    margin-top: 50px;
    display: inline-block;
}

.x3 {
    width: 230px;
    margin-top: 50px;
    display: inline-block;
}

.country {
    background-color: chartreuse;
    width: 100vh;
    height: 350px;
    margin:0 auto;
    border: 1px solid blue;
}

.right_block {
    width: 79%;
    border: 1px solid red;
    float: right;
    margin-left: 10px;
    display: inline-block
}

